<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TibiaKray Home</title>
        <meta name="description" content="Social network for Tibia, tools, share statistics, share photos and videos of your exploits in this beautiful game">
        <meta name="author" content="AinhoSoft">
        <meta property="og:title" content="TibiaKray Home">
        <meta property="og:url" content="/">
        <meta property="og:description" content="Social network for Tibia, tools, share statistics, share photos and videos of your exploits in this beautiful game">
        <meta name="author" content="AinhoSoft">

        <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
        <!-- START: Styles -->
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,400i,700%7cMarcellus+SC" rel="stylesheet">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
        <!-- FontAwesome -->
        <script defer src="/static/assets/vendor/fontawesome-free/js/all.js"></script>
        <script defer src="/static/assets/vendor/fontawesome-free/js/v4-shims.js"></script>
        <!-- IonIcons -->
        <link rel="stylesheet" href="/static/assets/vendor/ionicons/css/ionicons.min.css">
        <!-- Revolution Slider -->
        <link rel="stylesheet" href="/static/assets/vendor/revolution/css/settings.css">
        <link rel="stylesheet" href="/static/assets/vendor/revolution/css/layers.css">
        <link rel="stylesheet" href="/static/assets/vendor/revolution/css/navigation.css">
        <!-- Flickity -->
        <link rel="stylesheet" href="/static/assets/vendor/flickity/dist/flickity.min.css">
        <!-- Photoswipe -->
        <link rel="stylesheet" href="/static/assets/vendor/photoswipe/dist/photoswipe.css">
        <link rel="stylesheet" href="/static/assets/vendor/photoswipe/dist/default-skin/default-skin.css">
        <!-- DateTimePicker -->
        <link rel="stylesheet" href="/static/assets/vendor/jquery-datetimepicker/build/jquery.datetimepicker.min.css">
        <!-- Summernote -->
        <link rel="stylesheet" href="/static/assets/vendor/summernote/dist/summernote-bs4.css">
        <!-- GODLIKE -->
        <link rel="stylesheet" href="/static/assets/css/godlike.css">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="/static/assets/css/custom.css">
        <!-- END: Styles -->
        <!-- jQuery -->
        <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
    </head>
    <!--
    Additional Classes:
        .nk-page-boxed
-->
    <body>
        <!-- START: Page Preloader -->
        <div class="nk-preloader">
            <!--
         Preloader animation
         data-close-... data used for closing preloader
         data-open-...  data used for opening preloader
    -->
            <div class="nk-preloader-bg" style="background-color: #000;" data-close-frames="23" data-close-speed="1.2" data-close-sprites="/static/assets/images/preloader-bg.png" data-open-frames="23" data-open-speed="1.2" data-open-sprites="./assets/images/preloader-bg-bw.png">
            </div>
            <div class="nk-preloader-content">
                <div>
                    <img class="nk-img" src="/static/assets/images/logo.png" alt="TibiaKray V1.0.0" width="170">
                    <div class="nk-preloader-animation"></div>
                </div>
            </div>
            <div class="nk-preloader-skip">Skip</div>
        </div>

        <div class="nk-page-background op-8" style="background-image: url('/static/assets/images-svg/background.svg');"></div>
        
        <div class="nk-page-background-audio d-none" data-audio="/static/assets/mp3/purpleplanetmusic-desolation.mp3" data-audio-volume="30" data-audio-autoplay="true" data-audio-loop="true" data-audio-pause-on-page-leave="true"></div>
        <!-- END: Page Background -->
        <!-- START: Page Border -->
        <div class="nk-page-border">
            <div class="nk-page-border-t"></div>
            <div class="nk-page-border-r"></div>
            <div class="nk-page-border-b"></div>
            <div class="nk-page-border-l"></div>
        </div>
        <!-- END: Page Border -->
        <!--
    Additional Classes:
        .nk-header-opaque
-->
        <header class="nk-header nk-header-opaque">
            <!--
    START: Top Contacts

    Additional Classes:
        .nk-contacts-top-light
-->
            <!-- END: Top Contacts -->
            <!--
        START: Navbar

        Additional Classes:
            .nk-navbar-sticky
            .nk-navbar-transparent
            .nk-navbar-autohide
            .nk-navbar-light
            .nk-navbar-no-link-effect
    -->
            
            <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
                <div class="container">
                    <div class="nk-nav-table">
                        <a href="/" class="nk-nav-logo">
                            <img src="/static/assets/images/logo.png" alt="" width="90">
                        </a>
                        <ul class="nk-nav nk-nav-right d-none d-lg-block" data-nav-mobile="#nk-nav-mobile">
                            <li class="active">
                                <a href="/"> {{.Lenguaje.news}}</a>
                            </li>
                            <li class="">
                                <a href="/todays">{{.Lenguaje.today}}</a>
                            </li>
                            <li class="">
                                <a href="/tools">{{.Lenguaje.tools}}</a>
                            </li>
                            <li class="">
                                <a href="/creatures">{{.Lenguaje.creatures}}</a>
                            </li>
                            <li class="">
                                <a href="/bosses">{{.Lenguaje.bosses}}</a>
                            </li>
                        </ul>
                        <ul class="nk-nav nk-nav-right nk-nav-icons">
                            <li class="single-icon d-lg-none">
                                <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                                    <span class="nk-icon-burger">
                                        <span class="nk-t-1"></span>
                                        <span class="nk-t-2"></span>
                                        <span class="nk-t-3"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="single-icon">
                                {{if eq .UserName ""}}
                                <a href="#" class="nk-sign-toggle no-link-effect">
                                    <span class="nk-icon-toggle">
                                        <span class="nk-icon-toggle-front">
                                            <span class="fa fa-sign-in"></span>
                                        </span>
                                        <span class="nk-icon-toggle-back">
                                            <span class="nk-icon-close"></span>
                                        </span>
                                    </span>
                                </a>
                                {{else}}
                                <a href="/auth/my_profile" class="no-link-effect">
                                    <span class="nk-icon-toggle">
                                        <span class="nk-icon-toggle-front">
                                            <span class="fa fa-user"></span>
                                        </span>
                                    </span>
                                </a>
                                {{end}}
                            </li>
                            <li class="single-icon">
                                <a href="#" class="no-link-effect" data-nav-toggle="#nk-side">
                                    <span class="nk-icon-burger">
                                        <span class="nk-t-1"></span>
                                        <span class="nk-t-2"></span>
                                        <span class="nk-t-3"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- END: Navbar -->
        </header>
        <!--
    START: Right Navbar

    Additional Classes:
        .nk-navbar-right-side
        .nk-navbar-left-side
        .nk-navbar-lg
        .nk-navbar-align-center
        .nk-navbar-align-right
        .nk-navbar-overlay-content
        .nk-navbar-light
        .nk-navbar-no-link-effect
-->
        <nav class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-lg nk-navbar-align-center nk-navbar-overlay-content" id="nk-side">
            <div class="nk-navbar-bg">
                <div class="bg-image">
                    <img src="/static/assets/images/bg-nav-side.jpg" alt="" class="jarallax-img">
                </div>
            </div>
            <div class="nano">
                <div class="nano-content">
                    <div class="nk-nav-table">
                        <div class="nk-nav-row">
                            <a href="/" class="nk-nav-logo">
                                <img src="/static/assets/images/logo.png" alt="" width="150">
                            </a>
                        </div>
                        <div class="nk-nav-row nk-nav-row-full nk-nav-row-center">
                            <ul class="nk-nav">
                                {{if eq .UserName ""}}
                                <li class=" ">
                                    <a href="#" class="nk-sign-toggle no-link-effect">Conenctate</a>
                                </li>
                                {{else}}
                                <li class=" ">
                                    <a href="/auth/my_profile"> {{.Lenguaje.myprofile}}</a>
                                </li>
                                {{end}}
                                <li class=" nk-drop-item">
                                    <a href="#">{{.Lenguaje.tools}}</a>
                                    <ul class="dropdown">
                                        <li class=" ">
                                            <a href="/shared_loot"> {{.Lenguaje.sharedloot}}</a>
                                        </li>
                                        <li class=" ">
                                            <a href="/sharedexp"> {{.Lenguaje.sharedexp}}</a>
                                        </li>
                                        <li class=" ">
                                            <a href="/creatures"> {{.Lenguaje.creatures}}</a>
                                        </li>
                                        <li class=" ">
                                            <a href="/bosses"> {{.Lenguaje.bosses}}</a>
                                        </li>
                                    </ul>
                                </li>
                                {{if eq .UserName ""}}
                                {{else}}
                                    <li class=" ">
                                        <a href="/logout">Desconectarse</a>
                                    </li>
                                {{end}}
                                {{if ge .Access  3 }}
                                <li class=" ">
                                    <a href="/auth/admin">Admin</a>
                                </li>
                                {{end}}
                                
                            </ul>
                        </div>
                        <div class="nk-nav-row">
                            <div class="nk-nav-footer"> &copy; 2023 AinhoSoft. </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END: Right Navbar -->
        <!--
    START: Navbar Mobile

    Additional Classes:
        .nk-navbar-left-side
        .nk-navbar-right-side
        .nk-navbar-lg
        .nk-navbar-overlay-content
        .nk-navbar-light
        .nk-navbar-no-link-effect
-->
        <div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-left-side nk-navbar-overlay-content d-lg-none">
            <div class="nano">
                <div class="nano-content">
                    <a href="/" class="nk-nav-logo">
                        <img src="/static/assets/images/logo.png" alt="" width="90">
                    </a>
                    <div class="nk-navbar-mobile-content">
                        <ul class="nk-nav">
                            <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Navbar Mobile -->
        <!-- Daily Image fun-->

        <div class="nk-main">
            <div class="text-center">
                <h2 class="nk-title display-3">{{.Lenguaje.plusvoted}}</h2>
            </div>
            <!--
            <iframe src="https://clips.twitch.tv/embed?clip=VibrantThankfulCrocodilePicoMause-bgI3kO2OVjbdEK2L&parent=127.0.0.1&autoplay=true" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
            -->
            <div class="container">
                <div class="nk-carousel-2" data-arrows="true">
                    <div class="nk-carousel-inner">
                        {{range $index, $today := .Todays}}
                            {{range $today.Files}}
                            <div>
                                <div class="container">
                                    <h4 class="nk-sub-title text-center"> {{$.Lenguaje.getin}}: <span class="nk-typed" data-loop="true">
                                        <span><a href="/todays_post/{{$today.ID}}">{{$today.Title}}</a></span></span>
                                    </h4>
                                </div>
                                {{if eq .TypeFile "mp4"}}
                                <div>
                                    <center>
                                        <video style="width: 100%; height: 100%;" src="/image/{{.PathConsume}}" muted autoplay controls></video>
                                        </center>
                                </div>
                                {{else if eq .TypeFile "Twitch"}}
                                    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                        <iframe src="{{.PathConsume}}" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
                                    </div>
                                {{else}}
                                    <a href="/image/{{.PathConsume}}">
                                        <img src="/image/{{.PathConsume}}" alt="" class="nk-img-stretch">
                                    </a>
                                {{end}}
                                
                            </div>
                            {{end}}
                        {{end}}
                    </div>
                </div>
                <div class="nk-gap-4"></div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="nk-box-3 bg-dark-1">
                            <div class="nk-widget">
                                <h4 class="nk-widget-title">{{.Lenguaje.news}}</h4>
                                <div>
                                    <ul class="nk-widget-categories">
                                        {{range .NewsTicket}}
                                        <li>
                                            <a>{{.Title}}</a>
                                            <li>{{.Content}}</li>
                                        
                                        </li>
                                        {{end}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="nk-box-3 bg-dark-1">
                            <div class="nk-widget">
                                <h4 class="nk-widget-title">{{.Lenguaje.profitstoday}}:</h4>
                                <h1 class="nk-widget-title">
                                {{if eq .SharedLootHight.Leader.Name ""}}
                                <span class="nk-typed bg-white text-dark-1 pl-8 pr-8 pt-5 pb-5 m-5 d-inline-block">
                                    <span>{{.Lenguaje.profitstodaynot}}!.</span>
                                </span>
                                {{else}}
                                <span class="nk-typed bg-white text-dark-1 pl-8 pr-8 pt-5 pb-5 m-5 d-inline-block">
                                    <span>Team Leader: {{.SharedLootHight.Leader.Name}} <em>Balance: {{.SharedLootHight.Balance}}</em>.</span>
                                    {{range .SharedLootHight.Character}}
                                    <span>Player: {{.Name }} <small>Balance: {{.Balance}}</small>.</span>
                                    {{end}}
                                </span>
                                {{end}}
                                </h1>
                                <h4 class="nk-widget-title">Rashid:</h4>
                                <h1 class="nk-widget-title">
                                    <span class="nk-typed bg-white text-dark-1 pl-8 pr-8 pt-5 pb-5 m-5 d-inline-block">
                                        <span>{{index .Lenguaje .Rashid}}!.</span>
                                    </span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-2"></div>
            <div class="text-center">
                <h2 class="nk-title display-3">{{.Lenguaje.streamsupport}}</h2>
            </div>
            <div class="container">
                <div class="nk-box bg-dark-1">
                    <div class="nk-carousel-2" data-autoplay="5000" data-dots="true">
                        <div class="nk-carousel-inner">

                            {{range .Streamer}}
                                <div>
                                    <div>
                                        <blockquote class="nk-testimonial-2">
                                            <div class="nk-testimonial-photo" style="background-image: url('assets/images/avatar-1-sm.jpg');"></div>
                                            <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                                <iframe src="{{.URL}}" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
                                            </div>
                                            <div class="nk-testimonial-name h4">{{.Name}}</div>
                                            <div class="nk-testimonial-source">{{.Title}}</div>
                                        </blockquote>
                                    </div>
                                </div>
                            {{end}}
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-4"></div>
            <div class="nk-gap-4"></div>
            <div class="nk-gap-4"></div>
            <footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">
                <img class="nk-footer-top-corner" src="/static/assets/images/footer-corner.png" alt="">
                <div class="container">
                    <div class="nk-gap-2"></div>
                    <div class="nk-gap"></div>
                    <p> &copy; 2023 AinhoSoft.</p>
                    <div class="nk-footer-links">
                        <a href="#" class="link-effect">{{.Lenguaje.termservice}}</a> <span>|</span> <a href="#" class="link-effect">{{.Lenguaje.privacypolicy}}</a>
                    </div>
                    <div class="nk-gap-4"></div>
                </div>
            </footer>
            <!-- END: Footer -->
        </div>
        <div class="nk-side-buttons nk-side-buttons-visible">
            <ul>
                <li>
                    <span class="nk-btn nk-btn-lg nk-btn-icon nk-bg-audio-toggle">
                        <span class="icon">
                            <span class="ion-android-volume-up nk-bg-audio-pause-icon"></span>
                            <span class="ion-android-volume-off nk-bg-audio-play-icon"></span>
                        </span>
                    </span>
                </li>
                <li class="nk-scroll-top">
                    <span class="nk-btn nk-btn-lg nk-btn-icon">
                        <span class="icon ion-ios-arrow-up"></span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="nk-sign-form">
            <div class="nk-gap-5"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
                        <div class="nk-sign-form-container">
                            <div class="nk-sign-form-toggle h3">
                                <a href="#" class="nk-sign-form-login-toggle active">{{.Lenguaje.login}}</a>
                                <a href="#" class="nk-sign-form-register-toggle">{{.Lenguaje.register}}</a>
                            </div>
                            <div class="nk-gap-2"></div>
                            <!-- START: Login Form -->
                            <form class="nk-sign-form-login active" method="POST" action="/login">
                                <input class="form-control" type="text" name="user" id="user" placeholder="{{.Lenguaje.user}} / Email">
                                <div class="nk-gap-2"></div>
                                <input class="form-control" type="password" name="passworduser" id="passworduser" placeholder="{{.Lenguaje.password}}">
                                <div class="nk-gap-2"></div>
                                <div class="form-check float-left">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> {{.Lenguaje.remember}} </label>
                                </div>
                                <button class="nk-btn nk-btn-color-white link-effect-4 float-right">{{.Lenguaje.login}}</button>
                                <div class="clearfix"></div>
                                <div class="nk-gap-1"></div>
                                <a class="nk-sign-form-lost-toggle float-right" href="#">{{.Lenguaje.lostpassword}}?</a>
                            </form>
                            <!-- END: Login Form -->
                            <!-- START: Lost Password Form -->
                            <form class="nk-sign-form-lost" action="/recovery" method="POST">
                                <input class="form-control" type="text" name="recovery" placeholder="{{.Lenguaje.user}} / Email">
                                <div class="nk-gap-2"></div>
                                <button class="nk-btn nk-btn-color-white link-effect-4 float-right">{{.Lenguaje.getin}}</button>
                            </form>
                            <!-- END: Lost Password Form -->
                            <!-- START: Register Form -->
                            <form class="nk-sign-form-register" action="/create_user" method="POST">
                                <input class="form-control" type="text" name="username" id="username" placeholder="{{.Lenguaje.user}}">
                                <div class="nk-gap-2"></div>
                                <input class="form-control" type="password" name="password" id="password" placeholder="{{.Lenguaje.password}}">
                                <div class="nk-gap-2"></div>
                                <input class="form-control" type="password"  name="passwordTwo" id="passwordTwo"  placeholder="{{.Lenguaje.repeat}} {{.Lenguaje.password}}">
                                <div class="nk-gap-2"></div>
                                <input class="form-control" type="email" name="email" id="email" placeholder="Email">
                                <div class="nk-gap-2"></div>
                                <div class="form-check float-left">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="policy" id="policy" class="form-check-input"> {{.Lenguaje.acceptpolicies}} </label>
                                </div>
                                <button class="nk-btn nk-btn-color-white link-effect-4 float-right">{{.Lenguaje.register}}</button>
                            </form>
                            <!-- END: Register Form -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-5"></div>
        </div>
        <!-- END: Sign Form -->
        <!-- START: Scripts -->
        <!-- Object Fit Polyfill -->
        <script src="/static/assets/vendor/object-fit-images/dist/ofi.min.js"></script>
        <!-- GSAP -->
        <script src="/static/assets/vendor/gsap/dist/gsap.min.js"></script>
        <script src="/static/assets/vendor/gsap/dist/ScrollToPlugin.min.js"></script>
        <!-- Popper -->
        <script src="/static/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
        <!-- Bootstrap -->
        <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Sticky Kit -->
        <script src="/static/assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>
        <!-- Jarallax -->
        <script src="/static/assets/vendor/jarallax/dist/jarallax.min.js"></script>
        <script src="/static/assets/vendor/jarallax/dist/jarallax-video.min.js"></script>
        <!-- imagesLoaded -->
        <script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <!-- Flickity -->
        <script src="/static/assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>
        <!-- Isotope -->
        <script src="/static/assets/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>
        <!-- Photoswipe -->
        <script src="/static/assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
        <script src="/static/assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>
        <!-- Typed.js -->
        <script src="/static/assets/vendor/typed.js/lib/typed.min.js"></script>
        <!-- Jquery Validation -->
        <script src="/static/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
        <!-- Jquery Countdown + Moment -->
        <script src="/static/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
        <script src="/static/assets/vendor/moment/min/moment.min.js"></script>
        <script src="/static/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
        <!-- Hammer.js -->
        <script src="/static/assets/vendor/hammerjs/hammer.min.js"></script>
        <!-- NanoSroller -->
        <script src="/static/assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>
        <!-- SoundManager2 -->
        <script src="/static/assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>
        <!-- DateTimePicker -->
        <script src="/static/assets/vendor/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
        <!-- Revolution Slider -->
        <script src="/static/assets/vendor/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="/static/assets/vendor/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/static/assets/vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="/static/assets/vendor/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="/static/assets/vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <!-- Keymaster -->
        <script src="/static/assets/vendor/keymaster/keymaster.js"></script>
        <!-- Summernote -->
        <script src="/static/assets/vendor/summernote/dist/summernote-bs4.min.js"></script>
        <!-- GODLIKE -->
        <script src="/static/assets/js/tibiakray.min.js"></script>
        <script src="/static/assets/js/tibiakray-init.js"></script>
        <!-- END: Scripts -->
    </body>
</html>
